<!DOCTYPE html>
<html lang="ko">

{% include 'head.html' %}
<style>
    .container {
        width: 100vw;
        height: 100vh;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .wrapper2 {
        display: grid;
        place-items: center;
        min-height: 100vh;
    }
</style>
<body style="background: #f4ec28">
{#<div class="wrapper2">#}
    {% block content %}
    {% endblock %}
{#</div>#}
</body>
</html>